{{#each this}}
<section class="country">
    <h2 class="country__name">{{name}}</h2>
    <div class="country__info">
        <div class="country__flag">
            <img src="{{flag}}" alt="{{name}} flag" width="250" />
        </div>
        <ul>
            <li class="country__info--text">
                <span>Capital:</span>
                <span class="country__subtitle">{{capital}}</span>
            </li>
            <li class="country__info--text">
                <span>Population:</span>
                <span class="country__subtitle">{{population}}</span>
            </li>
            <li class="country__info--text">
                <ul>Languages:
                    {{#each languages}}
                    <li class="country__subtitle">{{name}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
    </div>
</section>
{{/each}}